<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gamesampler | Welcome</title>

    <!-- CSS References -->
        <link rel="stylesheet" href="static/css/foundation.css" />
        <link rel="stylesheet" href="static/css/main.css" />

    <!-- Javascript Reference -->
        <script src="static/js/vendor/jquery.js"></script>
        <script src="static/js/foundation.min.js"></script>
        <script src="static/js/vendor/modernizr.js"></script>

    <!-- MoPub Integration -->
        <script type="text/javascript">
          window.mopub = [{
            ad_unit: "bbbd38c2b2c74fc19b8d50654de4636c",
            ad_container_id: "ad_container", // Specify the div or container to which you’d like to the mobile web tag
            ad_width: 320,
            ad_height: 480,
            keywords: "" // Optionally pass keywords as a comma separated list
          } ]; // To load additional ad units, add another object into the array.

          (function() {
            var mopubjs = document.createElement("script");
            mopubjs.async = true;
            mopubjs.type = "text/javascript";
            mopubjs.src = "//d1zg4cyg8u4pko.cloudfront.net/mweb/mobileweb.min.js";
            var node = document.getElementsByTagName("script")[0];
            node.parentNode.insertBefore(mopubjs, node);
          })();
        </script>

    </head>

    <body>

        <!-- Header -->
        <div class="row">
            <div class="large-12 columns">
                <h1>Welcome to Gamesampler</h1>
            </div>
        </div> <!-- End Header -->

        <!-- Top Banner -->
        <div class="row">
            <div class="large-12 columns">
                <div class="panel">
                    <h3>We&rsquo;re stoked you want to try Gamesampler! </h3>
                    </br>
                    </br>
                    <div class="row">
                        <div class="large-4 medium-4 columns">
                            <p>Sample new games</p>
                        </div>
                        <div class="large-4 medium-4 columns">
                            <p>Add them to your like list</p>
                        </div>
                        <div class="large-4 medium-4 columns">
                            <p>Download games you like!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Top Banner -->

        <!-- Games Panel / Button Group -->
        <div class="row">
            <!-- Games Panel -->
            <div class="large-6 medium-6 columns">
                <h5>Games Liked:</h5>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="callout panel">
                            {% for game in liked_games %}
                                <p><input id={{ game.name }} type="checkbox"><label for="{{ game.name }}">{{ game.name }}</label></p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div> <!-- End Games Panel -->

            <!-- Button Group -->
            <div class="large-4 medium-4 columns">
                <h5>Actions:</h5>
                <a href="#" class="small radius success button" style="display: inline-block;">Download Game</a>
                <a href="#" class="small radius alert button" style="display: inline-block;">Remove Game</a>
            </div> <!-- End Button Group -->
            <hr>
        </div> <!-- End Games Panel / Button Group -->



        <!-- Ad Panel -->
        <div class="row">
            <div class="large-12 columns">
                <div class="panel">
                    <div class="row">
                        <div class="large-2 medium-2 columns">
                            <p><a href="#" class="small radius button">Prev</a></p>
                        </div>

                        <div class="large-8 medium-8 columns">
                            <center>
                                <div id="ad_container"></div>
                                </br>
                                <a href="#" id="like_button" class="small radius success button">Like</a>
                            </center>
                        </div>

                        <div class="large-2 medium-2 columns">
                            <p><a href="#" class="small radius button">Next</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Ad Panel -->


        <!-- Scripts -->
        <script>
            $(document).foundation();
        </script>
        <!-- End Scripts -->

    </body>
</html>

